html {
  font-size: 22px;
}

body {
  background-color: #333;
  color: whitesmoke;
}

a {
	color: aliceblue;
}

a:visited {
	color: aquamarine;
}

a:hover, a:active {
	color: orange;
}

p {
	margin: 0px;
}

table, tt, th, td, caption {
	border: 1px solid #eee;
	font-family: 'Courier New', Courier, monospace;
	border-collapse: collapse;
	padding: 0.55rem;
}