html {
  font-size: 22px;
}

body {
  background-color: #333;
  color: whitesmoke;
}

a {
	color: aliceblue;
}

a:visited {
	color: aquamarine;
}

a:hover, a:active {
	color: orange;
}

p {
	margin: 0px;
}